 <h2 style="padding: 15px;">Tutte le ricette:</h2>
    <div class="display2">
        <div *ngFor="let ricetta of ricettePaginator" >
            <mat-card class="example">
                <mat-card-header>
                    <mat-card-title style="color: whitesmoke;">{{ricetta?.titolo}}</mat-card-title>
                </mat-card-header>
                <img (click)="dettaglio(ricetta.id)" style="height: 266px; width: 350ppx;"  mat-card-image src="{{ricetta?.image}}">
            </mat-card>
        </div>
    </div>
<div style="margin-top: 156px;">
<mat-paginator [length]="ricette.length"
              [pageSize]="2"
              aria-label="Select page"
              [pageIndex]="pageIndex"
              (page)="handlePageEvent($event)">
</mat-paginator>
</div>
