<div class="login-container">
    <form>
      <label for="titolo">titolo:</label>
      <input type="text" required #email type="text" ngModel  name="titolo" id="titolo" placeholder="titolo">
      <label for="descrizione">descrizione:</label>
      <input required type="text" ngModel name="descrizione" id="descrizione" placeholder="descrizione">
      <label for="step da fare">step da fare:</label>
      <input required type="text" ngModel name="step da fare" id="step da fare" placeholder="step da fare">
      <label for="ingredienti">ingredienti:</label>
      <input required type="text" ngModel name="ingredienti" id="ingredienti" placeholder="ingredienti">
      <button type="submit" (click)="creazioneRicetta()">Aggiungi ricetta</button>
    </form>
</div>