.login-container {
    margin-top: 20px;
    max-width: 300px;
    margin-top: 50px;
    margin-left: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 560px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    height: 230px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #040404;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 28px;
  }
  
  button:hover {
    background-color: #6e706e;
  }