<!--<div *ngFor="let ricetta of listaRicette" style="padding: 15px;">
    <h2 style="color: rgb(59, 58, 58);">{{ricetta.titolo}}</h2>
    <div>
        {{ricetta.preparazione}}
    </div>
    <div>{{ricetta.ingredienti}}</div>
    <div>
        <img style="height: 400px; width: 600px; border-radius: 5px;" *ngIf="tipoPiatto == 'Primi-Piatti' " mat-card-image src="assets/rigatoni.png">
        <img style="height: 400px; width: 600px; border-radius: 5px;" *ngIf="tipoPiatto == 'Secondi-Piatti' " mat-card-image src="assets/Orata-al-forno.jpg">
        <img style="height: 400px; width: 600px; border-radius: 5px;" *ngIf="tipoPiatto == 'Contorni' " mat-card-image src="assets/Patate-al-forno.jpg">
    </div>
</div>-->


    <span>
        <mat-card class="example-card" style="cursor: pointer;" style="background-color: rgb(215, 215, 215);">
            <mat-card-header>
                <mat-card-title>{{ricetta.titolo}}</mat-card-title>
            </mat-card-header> 
            <mat-card-content>
                <img  style="height: 266px; width: 350ppx;" *ngIf="ricetta.titolo == 'pasta al sugo'" mat-card-image src="assets/penne.jpg">
                <img  style="height: 266px; width: 350ppx;" *ngIf="ricetta.titolo == 'roast beef'" mat-card-image src="assets/roast.jpg">
                <img  style="height: 266px; width: 350px;" *ngIf="ricetta.titolo == 'pppppp'" mat-card-image src="assets/spaghetti.jpg">
                <img  style="height: 266px; width: 350px;" *ngIf="ricetta.titolo == 'pasta'" mat-card-image src="assets/pasta.jpg">
            </mat-card-content>
            <mat-card-content>
                <p>
                    {{ricetta.preparazione}}
                </p>
            </mat-card-content>
            <mat-card-content>
                <p>
                    {{ricetta.ingredienti}}
                </p>
            </mat-card-content>
            <mat-card-content>
                <p>
                    {{ricetta.quantitaPersone}}
                </p>
            </mat-card-content>
        </mat-card>
    </span>