.example-spacer {
    flex: 1 1 auto;
  }

  .search-container {
    max-width: 300px;
    margin-left: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }

  .example-card {
    max-width: 400px;
    cursor: pointer;
    background-color: rgb(191, 178, 178);
  }

  .example{
    max-width: 400px;
    background-color: rgb(191, 178, 178);
  }
  
  .example-header-image {
    background-size: cover;
  }

  .display2{
    display: flex;
    justify-content:space-around;
    padding: 15px;
  }

  .display{
    display: flex;
    justify-content:space-around;
    padding: 15px;
  }
  
  .but {
    background-color: #040404;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 28px;
  }

  .inp{
    padding: 15px;
    margin-bottom: 16px;
    height: 15px;
    margin-left: 15px;
    border-radius: 5px;
  }
  