<div class="titolo">
    <h1>{{tipoPiatto}}</h1>
</div>
<div class="login-container">
    <form>
    <input type="text" #cerca ngModel name="cerca" id="cerca" placeholder="cerca">
    <span><button (click)="ricerca()"  type="submit" style="background-color: black; color: white;">ricerca</button></span>
</form>
</div>
<div class="display" *ngFor="let ricetta of listaRicette">
    <span>
        <mat-card class="example-card" style="cursor: pointer;">
            <mat-card-header>
                <mat-card-title>{{ricetta.titolo}}</mat-card-title>
            </mat-card-header>
            <img (click)="dettaglioRicette(ricetta.titolo)" style="height: 266px; width: 350ppx;"  *ngIf="ricetta.titolo == 'pasta al sugo'" mat-card-image src="assets/penne.jpg">
            <img (click)="dettaglioRicette(ricetta.titolo)" style="height: 266px; width: 350ppx;" *ngIf="ricetta.titolo == 'roast beef'" mat-card-image src="assets/roast.jpg">
            <img (click)="dettaglioRicette(ricetta.titolo)" style="height: 266px; width: 350ppx;" *ngIf="ricetta.titolo == 'pppppp'" mat-card-image src="assets/spaghetti.jpg">
            <img (click)="dettaglioRicette(ricetta.titolo)" style="height: 266px; width: 350ppx;" *ngIf="ricetta.titolo == 'pasta'" mat-card-image src="assets/pasta.jpg"> 
            <mat-card-content>
                <p>
                    {{ricetta.preparazione}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="this.service.isAdmin" style="color: black; background-color: rgb(181, 40, 40);"  mat-button (click)="cancella(ricetta)">Cancella Ricetta</button>
            </mat-card-actions>
        </mat-card>
    </span>
</div>