
    
            <!--<form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>cerca</mat-label>
                  <input type="text"
                         placeholder="Ricerca"
                         aria-label="Ricerca"
                         matInput
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    @for (option of filteredOptions; track option) {
                      <mat-option [value]="option">{{option}}</mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </form>-->
 

     <div class="display" *ngFor="let ricetta of listaRicette">
        <span>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{ricetta.titolo}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/rigatoni.png">
                <mat-card-content>
                    <p>
                        {{ricetta.preparazione}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Seleziona Ricetta</button>
                </mat-card-actions>
            </mat-card>
        </span>
    </div>
