<div style="background-color: rgb(215, 215, 215); height: 737px;">
  <p>
    <mat-toolbar>
      <span>Homepage</span>
      <span class="example-spacer"></span>
      <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>-->
      <button *ngIf="!isLogin" mat-button (click)="LogIn()">Log In</button>
      <button *ngIf="isLogin" mat-button (click)="LogOut()">Log Out</button>
    </mat-toolbar>
  </p>

  <!--<div class="search-container">
      <input type="text" placeholder="Inserisci ricetta" />
  </div>-->

  <div class="display">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Primi Piatti</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/Calamarata-primi.jpg">
        <mat-card-actions>
          <button mat-button style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);" (click)="primiPiatti()">Select</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Secondi Piatti</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/secondi-piatti.jpg">
        <mat-card-actions>
          <button mat-button style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);" (click)="secondiPiatti()">Select</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Contorni</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/Contorni-piatti.jpg">
        <mat-card-actions>
          <button mat-button style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);" (click)="contorni()">Select</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>