
<mat-toolbar>
  
    <span style="cursor: pointer;" (click)="homepage()">homepage</span>
    <span class="example-spacer"></span>

    <!--<div class="login-container" style="position: relative; right: 1025px; bottom: 5px;">
      <form [formGroup]="form">
          <div style="display: flex; align-items: baseline;">
              <div>
                  <input formControlName="cerca" type="text" class="inp" #cerca formControlName="cerca" name="cerca" id="cerca"
                      placeholder="cerca">
              </div>
              <div style="position: relative; left: 48px;">
                  <button class="but" (click)="ricerca()" type="submit">ricerca</button>
              </div>
          </div>
      </form>
  </div>-->
    <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>-->
    <button *ngIf="this.service.isAdmin && this.service.isLogged" mat-button (click)="aggiungiRicetta()">Aggiungi ricetta</button>    
    <button *ngIf="!this.service.isLogged" mat-button (click)="LogIn()">Log In</button>
    <button *ngIf="this.service.isLogged" mat-button (click)="logOut()">Log Out</button>
  </mat-toolbar>


 <!-- <dialog #dialog *ngIf="tasto">
    <div>
      sicuro di uscire?
    </div>
    <div>
      <button (click)="dialog.close()">no</button>
      <div>
        <button (click)="LogOut()">si</button>
      </div>
    </div>
  </dialog>-->


<!--<div class="search-container">
      <input type="text" placeholder="Inserisci ricetta" />
  </div>-->