<div class="login-container">
    <div style="color: whitesmoke; position: relative; left: 10px;">
        <h3>Sicureo di eliminare la ricetta?</h3>
    </div>
    <div style="display: flex; margin: 10px; justify-content: center;">
        <div style="margin-right: 30px;">
          <button (click)="cancella()" style="height: 50px; width: 50px; padding: 10px;">Si</button>
        </div>
        <div>
           <button (click)="decline()" style="height: 50px; width: 50px; padding: 10px;">No</button>
        </div>
    </div>
</div>