<div class="login-container">
    <div style="color: whitesmoke; position: relative; left: 10px;">
        <h3>Sicuro di voler scolegare il tuo account?</h3>
    </div>
    <div style="display: flex; margin: 10px; justify-content: center;">
        <div style="margin-right: 30px;">
          <button (click)="logOut()" style="height: 50px; width: 50px; padding: 10px; background-color: rgb(99, 201, 94);">Si</button>
        </div>
        <div>
           <button (click)="decline()" style="height: 50px; width: 50px; padding: 10px; background-color: rgb(193, 71, 62);">No</button>
        </div>
    </div>
</div>
